{
  "presets": ["jason"],
  "plugins": [
    ["transform-react-remove-prop-types", { "mode": "wrap" }],
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "utils": "./src/utils"
      }
    }]
  ],
  "env": {
    "esm": {
      "presets": [
        ["jason", { "modules": false }]
      ],
      "plugins": [
        ["babel-plugin-transform-rename-import", {
          replacements: [{ original: "lodash", replacement: "lodash-es" }]
        }]
      ]
    }
  }
}
